* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Título */
h2 {
  text-align: center;
  color: #4CAF50;
  margin-bottom: 30px;
  font-family: 'Arial', sans-serif;
  font-size: 28px;
  font-weight: bold;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

/* Contenedor principal */
.form-box {
  background-color: #ffffff; /* Fondo blanco para el recuadro */
  padding: 40px; /* Más espacio interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el recuadro */
  width: 700px; /* Ancho aumentado */
  max-width: 95%;
  text-align: center;
  margin: 20px auto;
  position: relative;
  top: -40px; /* Ajusta el recuadro hacia arriba */
  border: 1px solid #ddd; /* Borde similar al perfil */
}

/* Formulario */
.form {
  text-align: center;
}

/* Subtítulo */
h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Etiquetas */
label {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

/* Campos de entrada */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Placeholders */
input::placeholder {
  color: #aaa;
}

/* Botón */
button {
  width: 100%;
  padding: 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Mensajes */
:host .message {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  display: inline-block;
}

:host .message.error {
  color: #f44336;
}

:host .message.success {
  color: #4caf50;
}

.success {
  color: green;
}

.error {
  color: red;
}

/* Responsive */
@media (max-width: 768px) {
  .form-box {
    width: 100%;
    padding: 30px;
  }

  h2 {
    font-size: 24px;
  }

  label {
    font-size: 14px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  select {
    font-size: 14px;
    padding: 12px;
  }

  button {
    font-size: 16px;
    padding: 12px;
  }

  .message {
    font-size: 16px;
  }
}
