* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

/* CONTENEDOR DEL FORMULARIO */
.register-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 450px;
  max-width: 90%;
}

/* TÍTULO */
h2 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #4caf50;
  text-align: center;
}

/* ETIQUETAS */
label {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* CAMPOS DE ENTRADA */
input[type="text"],
input[type="email"],
input[type="tel"],
select,
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* PLACEHOLDERS */
input::placeholder {
  color: #aaa;
}

/* MENSAJES DE ERROR */
.error {
  font-size: 16px; /* Aumentado para mayor visibilidad */
  color: red;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
}

/* BOTÓN DE REGISTRO */
button {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* MENSAJES DE ÉXITO Y ERROR */
.message-container {
  margin-top: 20px;
  font-size: 16px; /* Aumentado para mayor visibilidad */
  text-align: center;
}

.message-container.success {
  color: green;
}

.message-container.error {
  color: red;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .register-form {
    width: 100%;
    padding: 20px;
  }
}
