/* Contenedor principal de la página */
.page-container {
  margin: 0;
  padding: 20px;
}

/* Contenedor del perfil */
.profile-container {
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  margin: 20px auto;
}

/* Título */
.profile-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #4CAF50;
  font-size: 24px;
  font-weight: bold;
}

/* Contenedor flexible para la información y la imagen */
.profile-content {
  display: flex; /* Hace que el contenido sea flexible */
  justify-content: space-between; /* Separa los elementos a los extremos */
  align-items: flex-start; /* Alinea verticalmente */
}

/* Información del perfil */
.profile-info {
  flex: 1; /* Ocupa el espacio restante */
}

.profile-info p {
  margin: 10px 0;
  font-size: 16px;
  color: #333;
}

.profile-info p strong {
  color: black;
}

/* Imagen del perfil */
.profile-image {
  margin-left: 20px;
  margin-right: 40px; /* Espacio entre la imagen y el texto */
}

.profile-image img {
  max-width: 150px; /* Tamaño máximo de la imagen */
  height: auto;
  border-radius: 8px; /* Bordes redondeados para la imagen */
  border: 1px solid #ccc;
}
