<header>
    <nav class="navbar">
      <div class="navbar-container">
        <a class="navbar-brand" routerLink="">INICI</a>
        <ul class="navbar-menu">
          <li class="navbar-item">
            <a class="navbar-link" routerLink="/login">Login</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" routerLink="/listado">Mostrar Lista</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" routerLink="">Buscar</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <router-outlet></router-outlet>